<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a routerLink="home" class="navbar-brand">home</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="tutorials" class="nav-link">Tutorials</a>
      </li>
      <li class="nav-item">
        <a routerLink="add" class="nav-link">Add</a>
      </li>
      <li class="nav-item">
        <a routerLink="flat" class="nav-link">Flat</a>
      </li>
      <li class="nav-item">
        <a routerLink="dormitory" class="nav-link">Dormitory</a>
      </li>
    </div>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>